[Unit]
Description=RTSP Recorder for %i
Wants=network.target
After=local-fs.target network.target

[Service]
User=camrec
Group=camrec
Restart=on-failure
Environment=RECORDING_ALIAS=%i
EnvironmentFile=/opt/etc/rtsp-recorder/%i.conf
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=60

WorkingDirectory=/var/rec
ExecStart=/opt/bin/rtsp-recorder

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rtsp-recorder_$i

[Install]
WantedBy=multi-user.target